body {
    background-color: black;
    margin-top: 100px;
    margin: 0;
}
      .til-venstre .dropdown-content {
        display: block;
      }

.andini-med-kanin {
    z-index: -1;
    height: 200px;
    width: auto;
    transform: rotate(5deg);
    border-radius: 50%;
}



.andini-med-tørkle-i-honden {
    z-index: -2;
    height: 605px;
    top:  -855px; 
    position: relative;
   left: 300px;
}

.Andin-forskreket

{z-index: -1;
    height: 600px;   
    width: auto;
    position: relative;
left: 270px;
transform: rotate(5deg);
    top:-840px;
    margin-top: 40px
}

h1 {
    position: fixed;
    z-index: 2;
    color: white;
    text-shadow: 5px 2px blue;
    top: -5px;
  left: 500px;

}

p {
    color: white;
    text-shadow: 5px 2px blue;
    line-height: 15px;
    margin-top: 13px;
    margin-top: 20px; /* Dette overskriver den forrige margin-top; og er unødvendig */
    position: relative;
    left: 30px;
}



@media only screen and (max-width: 800px) {
    * { 
    }



.Andin-forskreket

{z-index: -2;
    height: 650px;   
    width: auto;
    position: relative;
    left: 320px;
    top: -800px;
    transform: rotate(0deg);
    margin-top: 40px

    
}
.til-venstre {
margin: 50px;

}
    h1
    {
        position: fixed;
        left: 250px;

    }
    .andini-med-tørkle-i-honden {
        height: 600px;
        width: auto;
       position: relative;
       transform: rotate(0deg);
       left: 320px;
       top: -810px;

       
    } 
}