body {
    background-color: black;
    margin-top: 100px;
    margin: 0;
}
      .til-venstre .dropdown-content {
        display: block;
      }

.andini-med-kanin {
    z-index: -1;
    height: 200px;
    width: auto;
    top: -150px;
    position: relative;
    left: 40px;
    border-radius: 50%;
}

.AndersDue

{

position: relative;
left: 300px;
z-index: -3;


}

.andini-med-tørkle-i-honden {
    z-index: -2;
    height: 557px;
    top:  10px; 
    position: relative;
    transform: rotate(5deg);
   left: 500px;
}

.Andin-forskreket

{
    z-index: -1;
    height: 557px;   
    width: auto;
    position: relative;
    left: 70px;
    top: 10px;
    transform: rotate(-5deg);
    margin-top: 40px
}
.fixed

{

position: fixed;

top: 50px;
}
h1 {
   position: relative;
    z-index: 2;
    color: white;
    text-shadow: 5px 2px blue;
    top: 80px;
    font-size: 600%;
    left: 450px;

}

p {
    color: white;
    text-shadow: 5px 2px blue;
    line-height: 15px;
    top: -50px; /* Dette overskriver den forrige margin-top; og er unødvendig */
    justify-content: center;
    position: relative;
    
    
}



@media only screen and (max-width: 600px) {
    * { 
    }
    .fixed

    {
    
    position: fixed;
    
    top: 0px;
    }
    .andini-med-kanin {
        z-index: -1;
        height: 200px;
        width: auto;
        top: -30px;
        position: relative;
        left: 10px;
        border-radius: 50%;
    }

    .AndersDue

{

position: relative;
right: 405%;
top: 500%;
z-index: -3;


}
    h1 {
       position: relative;
        z-index: 2;
        color: white;
        text-shadow: 5px 2px blue;
        top: 50px;
        font-size: 400%;
        justify-content: center;
      left: 10px;}

.Andin-forskreket

{
    z-index: -2;
    height: 300px;   
    width: auto;
    position: relative;
    right: 500px;
    top: 20%;
    transform: rotate(0deg);
    margin-top: 40%
    

    
}
.til-venstre {
margin: 50px;

}
    .andini-med-tørkle-i-honden {
        height: 300px;
        width: auto;
       position: relative;
       transform: rotate(0deg);
       right: 700%;
       top: -20%;

       
    } 
}