body {
    background-color: black;
    margin-top: 100px;
    margin: 0;
}
      .til-venstre .dropdown-content {
        display: block;
      }

.andini-med-kanin {
    z-index: -1;
    height: 200px;
    width: auto;
    top: -150px;
    position: relative;
    left: 40px;
    border-radius: 50%;
}

.AndersDue

{

position: relative;
left: 70px;
z-index: -3;


}

.andini-med-tørkle-i-honden {
    z-index: -2;
    height: 557px;
    top:  10px; 
    position: relative;
    transform: rotate(5deg);
   left: 50px;
}

.Andin-forskreket

{
    z-index: -1;
    height: 557px;   
    width: auto;
    position: relative;
    left: 70px;
    top: -10px;
    transform: rotate(-5deg);
    margin-top: 40px
}
.fixed

{

position: fixed;

top: 30px;
}
h1 {
   position: relative;
    z-index: 2;
    color: white;
    text-shadow: 5px 2px blue;
    top: 70px;
    font-size: 570%;
    left: 450px;

}

.hvor-optrer-jeg

{



}
p {
    color: white;
    text-shadow: 5px 2px blue;
    line-height: 50px;
    top: -50px; /* Dette overskriver den forrige margin-top; og er unødvendig */
    position: relative;
    justify-content: center;
    
}

@media only screen and (max-width: 1189px) {
    * { 
    }


    .andini-med-tørkle-i-honden {
        z-index: -2;
        height: 407px;
        top:  -20px; 
        position: relative;
        transform: rotate(5deg);
       left: 100px;
    }
    h1 {
        position: relative;
         z-index: 2;
         color: white;
         text-shadow: 5px 2px blue;
         top: 50px;
         font-size: 350%;
         left: 430px;}

         .andini-med-kanin {
            z-index: -1;
            height: 200px;
            width: auto;
            top: -50px;
            position: relative;
            left: 40px;
            border-radius: 50%;
        }
        .AndersDue

        {
        
        position: relative;
        left: 60px;
        z-index: -3;
        height: 500px;
        
        }
        .Andin-forskreket

{
    z-index: -1;
    height: 407px;   
    width: auto;
    position: relative;
    left: 50px;
    top: -10px;
    transform: rotate(-5deg);
    margin-top: 40px
}
@media only screen and (max-width: 900px) {
    * { 
    }
    .fixed

    {
    
    position: fixed;
    
    top: -20px;
    }
    .andini-med-kanin {
        z-index: -1;
        height: 200px;
        width: auto;
        top: -50px;
        position: relative;
        left: 10px;
        border-radius: 50%;
    }

    .AndersDue

{

position: relative;
left: 40px;
top: -200px;
z-index: -3;


}
    h1 {
       position: relative;
        z-index: 2;
        color: white;
        text-shadow: 5px 2px blue;
        top: -10px;
        font-size: 400%;
        justify-content: center;
      left: 110px;}

.Andin-forskreket

{
    z-index: -2;
    height: 300px;   
    width: auto;
    position: relative;
    right: 500px;
    top: -300px;
    transform: rotate(-5deg);
    margin-top: 40%
    
    

    
}
.til-venstre {
margin: 50px;

}
    .andini-med-tørkle-i-honden {
        height: 300px;
        width: auto;
       position: relative;
       transform: rotate(5deg);
       left: 10px;
       top: -300px;

       
    } 
}

@media only screen and (max-width: 901px) {
    * { 
    }
    .Andin-forskreket
    { z-index: -2;
        height: 300px;   
        width: auto;
        position: relative;
        right: 500px;
        top: -400px;
        transform: rotate(0deg);
        margin-top: 40%}


.andini-med-tørkle-i-honden
    { z-index: -2;
        height: 300px;   
        width: auto;
        position: relative;
       left:  -550px;
        top: 5px;
        transform: rotate(0deg);
        margin-top: 40%
    }
    .andini-med-kanin
    {

position: relative;
top: -20px;
    }
    h1

    { font-size: 43px;
        position: relative;
        top: 140px;
    }